@{
    ViewBag.Title = "About";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@

<div class="skewed-header">
    <div class="header-bg" style="background-image: url('../../Content/images/backgrounds/about.jpg');"></div>
    <div class="skewed-header-wrapper">
        <div class="skewed-header-content">
            <div class="heading-wrapper">
                <h1>About Us</h1>
            </div>
        </div>
    </div>
</div>
<div class="page-container">
    <div class="content-wrapper">

        <img src="~/Content/images/persons/family.jpg" alt="Customers" id="market">
        <p>
            Astro is the greatest authentic African restaurant in SA. The venue serves
            best in-class African hospitality and entertainment spanning across dining, music, fashion,
            art, and entertainment. <br>
            We welcome you to embark on a multi-sensory journey across the beautifully diverse regions of Africa
            to experience authentic African cuisine, accompanied by finest flavors. Continue this journey by engaging
            your senses beyond taste, to the sights and sounds of Africa.
        </p>
        <p>
            <strong>This journey embodies the vibrancy of a continent. </strong>
            This journey, we have coined Africa, inspiring the World.
            <strong>This is the Astro journey.</strong>
            Discover Africa, its heritage, culture, and its mysteries at Astro Restaurant and Lounge, you'll surely
            be left feeling out of space from eating meals prepared in our chef's pots.
        </p>

    </div>
</div>
<div class="page-container">
    <div class="content-wrapper">

        <img src="~/Content/images/persons/waiter.jpg" alt="Waiter" id="waiter">
        <p>
            Astro Potspot, is a venue that transcends cultures. We are not just any restaurant.
            Our vision propels us to put the Astro brand on the world stage, giving everyone the joy
            of experiencing a truly African advanture.
        </p>
        <p>
            Astro Focuses on bringing the African Experience to the world through site, sound, and taste.
            Once we get people through the doors of Astro, the ambience gets them. It doesn't matter whether
            you are African or not, in Astro, there's a sense of belonging that transcends cultures. Most people
            cannot describe it: we call it the "Spirit" of Africa. <br />
            <blockquote>
                <em>Africa is not a country, but it is a continent like none other. It has that which is elegantly vast or awfully little — Douglas Wilder </em>
            </blockquote>
        </p>
    </div>
</div>