@{
    ViewBag.Title = "Home Page";
}

<section id="main-view">
    <div class="organic-food-background">
        <div class="row">
            <div class="block-section">
                <strong class="subtitle">
                    Indulge in delicious culinary
                </strong>
                <p>
                    At Astro authentic African dishes, unique selection of signature cocktails and iconic design narrates the true story of Africa through sight, sound and taste. <br>
                    <strong style="font-size: large;">Are you having Business over lunch? </strong> <br>
                    Food is an essential combo to sustain the ever-evolving culture of doing business. Astro's Business Lunch offers a selection of dishes from our Pan African Business lunch menu and we guarantee service within 20mins.
                </p>
                <a href="reservation.html" target="_blank" class="reserve-button"><h5>Reservations</h5></a>
            </div>
            <div class="block-section">
                <img src="~/Content/images/persons/restaurant.jpg" alt="Foods">
            </div>
            <div class="block-section">
                <img src="~/Content/images/food/pork.jpg" alt="Foods">
            </div>
            <div class="block-section">
                <strong class="subtitle">
                    Visit Us
                </strong>
                <p>
                    Open Daily: <br>
                    <strong style="font-size: large;">Monday - Tuesday: 12pm - 2am <br> Wednesday - Sunday: 12pm - 5am </strong> <br>
                    Please note that our operating hourse may change without notice in compliance with Covid-19 Regulations issued. <br>
                    Business Lunch <br>
                    Sunday - Thursday: 12pm - 4pm <br>
                    Happy Hour: Daily 6pm - 9pm
                </p>
                <a href="reservation.html" target="_blank" class="reserve-button"><h5>Reservations</h5></a>
            </div>
        </div>
    </div>

    <div class="services-section">
        <div class="columns-wrapper">
            <div class="column">
                <i class="fas fa-truck"> </i>
                <p>Delivery</p>
                <p>Type delivery info here......</p>
            </div>
            <div class="column">
                <i class="fas fa-fire"> </i>
                <p>Parties</p>
                <p>Reserve a Spot for your party here...</p>
            </div>
            <div class="column">
                <i class="fas fa-battery-full"> </i>
                <p>Quality Assurance</p>
                <p>Contact for more info...</p>
            </div>
        </div>
    </div>
    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3596.0097580094794!2d28.108384314671607!3d-25.670971248740024!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1ebfd917bd6b8b7b%3A0xaabd1bab3761823!2sWonderpark%20Shopping%20Centre!5e0!3m2!1sen!2sza!4v1653764299793!5m2!1sen!2sza" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</section>