
@{
    ViewBag.Title = "Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="food-menu">
    <h2 id="menu-title">Astro A la Carte</h2>
    <ul>
        <li>
            <div class="card">
                <img src="~/Content/images/food/bbqribs.jpg" alt="Barbeque ribs"><span>1</span>
                <h3>Barbeque Ribs</h3>
                <p>Our juicy BBQ ribs, with a special sauce by our chef.</p>
            </div>
        </li>
        <li>
            <div class="card">
                <img src="~/Content/images/food/beefsuyashwarma.jpg" alt="Beef Suya shwarma"><span>2</span>
                <h3>Beef Suya shwarma</h3>
                <p>Have our delicious Beef Suya shwarma with the side of your choice.</p>
            </div>
        </li>
        <li>
            <div class="card">
                <img src="~/Content/images/food/boboti.jpg" alt="Boboti"><span>3</span>
                <h3>Boboti</h3>
                <p>Enjoy a mouth-watering plate of Boboti.</p>
            </div>
        </li>
        <li>
            <div class="card">
                <img src="~/Content/images/food/bunny.jpg" alt="Bunny Chow"><span>4</span>
                <h3>Bunny Chow</h3>
                <p>Filling menu available on request.</p>
            </div>
        </li>
        <li>
            <div class="card">
                <img src="~/Content/images/food/egusi.jpg" alt="Egusi Soup"><span>5</span>
                <h3>Egusi soup</h3>
                <p>All the way from West Africa.</p>
            </div>
        </li>
        <li>
            <div class="card">
                <img src="~/Content/images/food/katogo.jpg" alt="Katogo"><span>6</span>
                <h3>Katogo</h3>
                <p>Warm plate of Katogo with green salad, and fries.</p>
            </div>
        </li>
        <li>
            <div class="card">
                <img src="~/Content/images/food/penneariabata.jpg" alt="Penne Ariabata"><span>7</span>
                <h3>Penne Ariabata</h3>
                <p>A hearty meal for a lazy day.</p>
            </div>
        </li>
        <li>
            <div class="card">
                <img src="~/Content/images/food/tilapiawrap.jpg" alt="tilapiawrap"><span>8</span>
                <h3>Tilapia Wrap</h3>
                <p>Tilapia wrapped in deliciousness.</p>
            </div>
        </li>
        <li>
            <div class="card">
                <img src="~/Content/images/food/trotters.jpg" alt="Pork Trotters"><span>9</span>
                <h3>Pork Trotters</h3>
                <p>A South African favorite</p>
            </div>
        </li>
    </ul>
</section>


